<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>MediMet</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="landing">

    <div class="left">

        <h1>💊 MediMet</h1>

        <h2>

            Never Miss Your Medicines Again

        </h2>

        <p>

            Smart medicine reminders that help you stay healthy,
            organized and on time.

        </p>

        <div class="buttons">

            <a href="/login" class="primary-btn">

                Login

            </a>

            <a href="/register" class="secondary-btn">

                Register

            </a>

        </div>

    </div>

    <div class="right">

        <img src="https://cdn-icons-png.flaticon.com/512/4320/4320371.png">

    </div>

</div>

</body>

</html>